.body {
  display: flex;
  flex-direction: row;
  color: #65698e;
  background: rgb(35, 45, 70);
  background: linear-gradient(
    180deg,
    rgba(35, 45, 70, 1) 0%,
    rgba(30, 37, 55, 1) 100%
  );
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  background: #191d2f;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.itemList {
  list-style: none;
  padding: 0.2rem;

  padding-right: 2rem;
}
